<section class="sponsors">
    <h3>NUESTROS PATROCINADORES</h3>
    <div class="logos">
        <a href="https://rfef.es/es/competiciones/primera-federacion"><img src="imagenes/logoprimera.png" alt="Patrocinador 1"></a>
        <a href="https://inamer.es"><img src="imagenes/logoinamer.png" alt="Patrocinador 2"></a>
        <a href="https://www.spmgm.com/es/"><img src="imagenes/logoseasport.png" alt="Patrocinador 3"></a>
        <a href="https://tienda.algecirasclubdefutbol.com"><img src="imagenes/logonike.png" alt="Patrocinador 4"></a>
    </div>
</section>
<section class="footer-bottom">
    <div class="info">
        <h4>Contacto</h4>
        <p>ALGECIRAS CF</p>
        <p>Estadio Nuevo Mirador<br>Polígono de La Menacha<br>11205 - Algeciras, Cádiz</p>
        <p>618 472 248<br>tienda@algecirascf.eu</p>
    </div>
    <div class="legal">
        <h4>Algeciras CF</h4>
        <p>COMPRALAENTRADA</p>
        <a href="aviso.html">Aviso legal</a> |
        <a href="politica.html">Política de privacidad</a> |
        <a href="condiciones.html">Condiciones generales</a> |
        <a href="faq.html">FAQ</a> |
        <a href="quien.html">Quiénes somos</a>
    </div>
    <div class="social">
        <h4>Síguenos</h4>
        <a href="https://es-es.facebook.com/algecirascf"><img src="imagenes/fblogo.png" alt="Facebook"></a>
        <a href="https://x.com/AlgecirasCF"><img src="imagenes/Xlogo.avif" alt="X/Twitter"></a>
        <a href="https://www.instagram.com/algecirascf/"><img src="imagenes/instagramlogo.png" alt="Instagram"></a>
    </div>
</section>
