<div class="header-top">
  <span>VENTA DE ENTRADAS</span>
</div>
<nav class="nav-bar">

  <button class="hamburger" id="hamburgerBtn">
    <span class="hamburger-icon">☰</span>
    <span class="close-icon" style="display:none;">×</span>
  </button>
  
  <div class="logo-container" >
    <img src="imagenes/escudo.png" alt="Escudo Algeciras CF" class="logo"/>
    <span class="inicio"><a href="/">ALGECIRAS CF</a></span>
  </div>

  <ul class="nav-links" id="navLinks">
    <li><a href="partidos.html">PARTIDOS</a></li>
    <li><a href="renovar.html">RENOVAR ABONO</a></li>
    <li><a href="nuevo.html">NUEVO ABONO</a></li>
    <li><a href="liberar.html">LIBERAR ASIENTO</a></li>
    <li><a href="ayuda.html">AYUDA</a></li>
    <li id="verAbonosLi" style="display:none;"><a href="perfil.html">VER TUS ABONOS</a></li>
  </ul>

  <div class="login" id="loginArea">
    <a href="login.html">LOGIN / HISTORIAL</a>
  </div>

  <div class="user-wrapper" id="userWrapper" style="display:none;">
    <img src="imagenes/perfil-icono.png" alt="Perfil" class="user-avatar" id="avatarToggle" />
    <div class="user-dropdown" id="userDropdown">
      <p id="userNombre"></p>
      <p id="userEmail"></p>
      <button id="logoutBtn">Cerrar sesión</button>
    </div>
  </div>
</nav>